pip install --upgrade \
    deepface==0.0.86 \
    opencv-python-headless==4.7.0.72 \
    numpy==1.26.4 \
    tensorflow-cpu==2.15.0 \
    tf-keras==2.15.0 \
    pillow==10.2.0 \
    rembg==2.0.55 \
    onnxruntime==1.17.3
